In [1]:
import pandas as pd 
df=pd.read_csv("weather_data.csv")
df

         Date          City  Temperature_C  Humidity_% Condition
0  01-01-2025      Hyderbad             28          60     Sunny
1  02-01-2025    Vijayawada             29          62     Sunny
2  03-01-2025  Viskhapatnam             30          58    Cloudy
3  04-01-2025      Kakinada             31          55    Cloudy
4  05-01-2025      Banglore             32          57     Rainy
5  06-01-2025        Mumbai             33          59     Rainy
6  07-01-2025       Chennai             34          61     Sunny
7  08-01-2025    Rajamundry             32          63    Cloudy
8  09-01-2025         Eluru             31          64     Rainy
9  10-01-2025    Anakapalli             29          62     Sunny

In [2]:
df["Humidity_%"].max()

64

In [3]:
df["Humidity_%"].min()

55

In [4]:
df["Humidity_%"].mean()

60.1

In [5]:
df["Humidity_%"].describe()

count    10.00000
mean     60.10000
std       2.84605
min      55.00000
25%      58.25000
50%      60.50000
75%      62.00000
max      64.00000
Name: Humidity_%, dtype: float64

In [6]:
import pandas as pd
df[df.Temperature_C==df.Temperature_C.max()]

         Date     City  Temperature_C  Humidity_% Condition
6  07-01-2025  Chennai             34          61     Sunny

In [7]:
df.count()

Date             10
City             10
Temperature_C    10
Humidity_%       10
Condition        10
dtype: int64

In [8]:
df['City'].nunique()

10

In [9]:
df['City'].unique()

array(['Hyderbad', 'Vijayawada', 'Viskhapatnam', 'Kakinada', 'Banglore',
       'Mumbai', 'Chennai', 'Rajamundry', 'Eluru', 'Anakapalli'],
      dtype=object)

In [10]:
df['City'].value_counts()

City
Hyderbad        1
Vijayawada      1
Viskhapatnam    1
Kakinada        1
Banglore        1
Mumbai          1
Chennai         1
Rajamundry      1
Eluru           1
Anakapalli      1
Name: count, dtype: int64